@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<h3>You can go to <a class="link-info" asp-area="Identity" asp-page="/Account/Login">Login</a> to authenticate into your account</h3>