@model CodeNames.Models.LiveSession;

<h1 class="display-4">Test Room</h1>

<div class="container game-frame">
    <div class="row justify-content-start">
        <div style="background-color:red"class="col-sm-2 left-panel">
            Left Bar 
        </div>
        <div style="background-color:green" class="col-sm-8 game-panel">
            @for (int i = 0; i < Model.Grid.Rows; i++)
            {
                <div class="row justify-content-between p-1 mt-3">
                    @for (int j = 0; j < Model.Grid.Columns; j++)
                    {
                        int rowIndex = i * Model.Grid.Columns;
                        string color = $"background-color:{ViewBag.ColorDictionary[@Model.Grid.Blocks[rowIndex + j].Color]}";
                        <div class="col-2">
                            <div class="card mb-3" style="max-width: 18rem; @color">
                                <div class="card-body text-center">
                                    <h5 class="card-title ">@Model.Grid.Blocks[rowIndex + j].Content</h5>
                                    <a href="#" class="btn btn-primary">Guess</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div style="background-color:blue" class="col-sm-2 right-panel">
            Right Bar
        </div>
    </div>
</div>