@model CodeNames.Models.ViewModels.LiveSessionVM;

<h1 class="display-6 text-center">Test Room</h1>

<input type="hidden" asp-for="@Model.LiveSession.SessionId" />

<div class="container game-frame">
    <div class="row justify-content-start">
        <div class="col-lg-2 left-panel bg-secondary bg-gradient">
            <h1 class="text-white">Red Team</h1>
            <ul class="list-group red-team-ul bg-info bg-gradient" id="red-team-ul">
                <li style="background-color:#ff8080" class="list-group-item text-center">TEst 1</li>
            </ul>
            <div class="row mt-5 Red-team-join-div">
                <div class="col-12 d-flex justify-content-center">
                    <a href="#" class="btn btn-primary" id="redTeamJoinBtn" data-value=@Color.Red>Join Red Team</a>
                </div>
            </div>
            <div class="row mt-5 Red-spymaster-join-div d-none ">
                <div class="col-12 d-flex justify-content-center">
                    <a href="#" class="btn btn-primary" id="RedSpymaster" data-value=@Color.Red>Become SpyMaster</a>
                </div>
            </div>

            <div class="row mt-5">
                <h1 class="text-white">Idle Players</h1>
                <ul class="list-group mt-1" id="idle-players-ul">
                </ul>
            </div>
        </div>
        <div style="background-color:green" class="col-lg-8 game-panel">
            @for (int i = 0; i < Model.LiveSession.Grid.Rows; i++)
            {
                <div class="row justify-content-between p-1 mt-3">
                    @for (int j = 0; j < Model.LiveSession.Grid.Columns; j++)
                    {
                        int rowIndex = i * Model.LiveSession.Grid.Columns;
                        var blockColor = ViewBag.ColorDictionary[Model.LiveSession.Grid.Blocks[rowIndex + j].Color];
                        var blockColorEnum = Model.LiveSession.Grid.Blocks[rowIndex + j].Color;
                        string color = $"background-color:{blockColor}";
                        string textColor = (blockColorEnum == Color.Black) ? "color:white" : "color:black";
                        <div class="col-2">
                            <div class="card mb-3" style="max-width: 18rem; @color">
                                <div class="card-body text-center">
                                    <h5 class="card-title" style="@textColor">@Model.LiveSession.Grid.Blocks[rowIndex + j].Content</h5>
                                    <a href="#" class="btn btn-primary">Guess</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            <hr class="hr hr-blurry mb-5 mt-2" />

            <form class="m-3">
                <div class="row justify-content-end">
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Enter clue">
                    </div>
                    <div class="col-1">
                        <input type="number" class="form-control" min="1" />
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary" type="button">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-lg-2 right-panel bg-secondary bg-gradient">
            <h1 class="text-white">Blue Team</h1>
            <ul class="list-group bg-info bg-gradient" id="blue-team-ul">
                    <li style="background-color:#72a5f7" class="list-group-item text-center">TEst 1</li>
                </ul>
            <div class="row mt-5 Blue-team-join-div">
                <div class="col-12 d-flex justify-content-center">
                    <a href="#" class="btn btn-primary" id="blueTeamJoinBtn" data-value=@Color.Blue>Join Blue Team</a>
                </div>
            </div>
            <div class="row mt-5 Blue-spymaster-join-div d-none">
                <div class="col-12 d-flex justify-content-center">
                    <a href="#" class="btn btn-primary" id="BlueSpymaster" data-value=@Color.Blue>Become SpyMaster</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>


<script src="~/js/signalr.min.js"></script>
<script src="~/js/stateMachineHub.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>