html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.game-container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.left-box {
    width: 10%;
    background-color: #333;
    color: #fff;
}

.middle-box {
    flex: 1;
    background-color: #f0f0f0;
}

.right-box {
    width: 10%;
    background-color: #333;
    color: #fff;
}

.game-box {
    margin: 20px;
    padding: 20px;
}

.game-frame{
    max-width: 2000px;
}