@model CodeNames.Models.LiveSessionModel;

<div class="container text-center">

    <div class="row border p-1 mt-3">
        <div class="col-2">
            <div class="card text-bg-warning mb-3" style="max-width: 18rem; background-color:#EDB526">
                <div class="card-body">
                    <h5 class="card-title">Warning card title</h5>
                </div>
            </div>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
    </div>

    <div class="row border p-1 mt-3">
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
    </div>

    <div class="row border p-1 mt-3">
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
    </div>

    <div class="row border p-1 mt-3">
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
    </div>

    <div class="row border p-1 mt-3">
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
        <div class="col-2">
            <button class="btn" style="background-color:#EDB526" id="">Test</button>
        </div>
    </div>

</div>